html {
  background-color: black;
  overflow: hidden;
}

.universe {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.universe img {
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 6s ease-out;
}

.you {
  transform: scale(1);
  opacity: 0;
}